* {
  margin: 0;
  padding: 0;
}

//Inicio de Hamburger Icon
.menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #34495E;
  height: 60px;
}

.menu-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
   a{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-decoration: none;
     font-size: 15px;
     color: white;
   }
}

.sub-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#AEB6BF;
  height: 60px;
}

.sub-menu-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
   a{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-decoration: none;
     font-size: 15px;
     color: white;
   }
}
//Final de Hamburger Icon


//Inicio de Header
.main-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 400px;
  background-image: url("images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% ;
  border: 2px solid black;
  .header-text{
    padding: 20px 0px 0px 50px;
    .header-page-title{
      width: 600px;
      height: 70px;
      font-size: 40px;
      font-family: 'Times New Roman', Times, serif;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      background: rgb(131, 85, 240);
      padding-bottom: 19px;
      border: 1px solid black;
      border-radius: 10px;
      box-shadow: 2px 2px 11px -1px black;
      color: white;
      margin-bottom: 20px;
      &:hover{
        transform: scale(0.99);
      }
      
  }
    .header-page-description{
      width: 550px;
      height: 50px;
      font-size: 17px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      background: rgb(151, 126, 211);
      padding-bottom: 20px;
      border: 1px solid black;
      border-radius: 10px;
      box-shadow: 2px 2px 11px -1px black;
      color: white;
      &:hover{
        transform: scale(0.99);
      }
  }
}
}
//Final de Header


//Inicio de Accordion
.main-accordion-container {
  .accordion-item {
    background: #AEB6BF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    flex-direction: column;
    padding: 0 9px 0 10px;

    .accordion-desc {
      display: none;
      background: whitesmoke;
      padding: 15px;
      margin-top: 15px;
      width: 90%;
      font-size: 20px;
      text-align: justify;
    }

    .accordion-title {
      color: white;
      font-family: Arial;
      font-size: 20px;
      width: 90%;
      display: flex;
      justify-content: center;
      padding: 20px;
      text-decoration: blanchedalmond;
    }

    &.tab-active{
      .accordion-desc {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}
//Final de Accordion


//Inicio de Wrap
main{
  width: 100%;
  display: flex;
  flex-direction: row;
  border: solid 2px black;
  background-color: cadetblue;
  
  .container-1{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container-1-img{
      img{
        width: 80%;
        margin: auto;
        display: block;
        padding: 10px 0px 20px 0px;
        &:hover{
          transform: skewY(1deg);
        }
      }
    }

    .text-container-1{
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px; 
      h1{
        text-align: center;
      }
      h2{
        text-align: center;
      }


      p {
        text-align: justify;
        width: 90%;
        padding-bottom: 10px;
        padding: 10px 0px 10px 0px;
      }
    }

    .container-1-video-1 {
      padding: 10px 0px 20px 0px;
    }
  }
}
//Final de Wrap


//Inicio Cards
.card-list {
  background-image: url("images/background-1.jpg");
  background-position-x: center;
  background-position-y: top;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;

  .card-item {
    width: 27%;
    height: auto;
    border-radius: 5px;
    padding-bottom: 30px;
    box-shadow: 2px 2px 11px -1px black;
    margin-bottom: 30px;
    background: #547A9F;
    
    &:hover{
      transform: translateY(-10px);
      //transform: scale(1.01);
    }

    img {
      width: 100%;
      margin-bottom: 10px ;
      max-height: 300px;
      min-height: 250px;
      //display: flex;
    }

    .card-info {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: space-around;

      .card-title {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Helvetica';
        margin-bottom: 10px;
      }
  
      .card-desc{
        font-family: 'Helvetica';
        font-size: 17px;
      }
  
      .card-cta{
        text-decoration: none;
        display: block;
        text-align: right;
        font-family: 'Helvetica';
        font-size: 20px;
        border-top: solid 1px black;
        padding-top: 10px;
        margin-top: 30px;

      }
    }
  }

}
//Final Cards

//Inicio de Footer
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: gray;
  height: 120px;
  color: white;

  .footer-list {
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    p{
      text-decoration: none;
      font-size: 15px;
    }
  }

  .footer-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    p{
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
  }
}
//Final de Footer



@media (max-width: 991px) {
  //inicio de Hamburger Icon
  .menu-container {
    display: flex;
    padding: 0 15px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .hamburger-icon{
    width: 35px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    span {
      height: 4px;
      width: 100%;
      background: blanchedalmond;
      display: block;
      border-radius: 2px;
    }
  }
  .menu-list{
    display: none;
  }
  .menu-container.menu-open{
    .menu-list{
      z-index: 100;
      border: 2px solid #AEB6BF;
      width: 200px;
      padding-top: 120px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: left;
      text-align: center;
      background-color: #154360;
      border-radius: 10px;

      a{
        padding-top: 5px;
        padding-bottom: 5px;
        
      }
    }
  }
  //Final de Hamburger Icon

//Inicio de Header
.main-header{
  height: 150px;
  .header-text{
    padding: 6px 0px 0px 10px;
    .header-page-title{
      width: 400px;
      height: 50px;
      font-size: 25px;
      padding-bottom: 5px;
  }
    .header-page-description{
      width: 390px;
      height: 30px;
      font-size: 10px;
  }
}
}
//Final de Header


  //inicio de Sub Hamburger Icon
  .sub-menu-container {
  display: flex;
  padding: 0 15px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  }
  .sub-hamburger-icon{
  width: 35px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  span {
    height: 4px;
    width: 100%;
    background: blanchedalmond;
    display: block;
    border-radius: 2px;
  }
  }
  .sub-menu-list{
  display: none;
  }
  .sub-menu-container.menu-open {
  .sub-menu-list{
    z-index: 100;
    border: 2px solid #AEB6BF ;
    width: 200px;
    padding-top: 120px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: left;
    text-align: center;
    background-color: #154360;
    border-radius: 10px;

    a{
      padding-top: 5px;
      padding-bottom: 5px;
      
    }
  }
  }
  //Final de Sub Hamburger Icon


  //Inicio de Accordion
  .main-accordion-container {
  .accordion-item {
    background: #121014;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    flex-direction: column;

    .accordion-desc {
      background: rgb(10, 121, 111);
      width: 90%;
      font-size: 20px;
    }

    .accordion-title {
      color: rgb(132, 136, 148);
      font-family: Arial;
      font-size: 20px;
      width: 90%;
      display: flex;
      justify-content: center;
      padding: 15px 0px 15px 0px;
      text-decoration: blanchedalmond;
      text-align: center;
    }

    &.tab-active{
      .accordion-desc {
        height: auto;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
 }
  //Final de Accordion 

//Inicio de Wrap
main{
  .container-1{
    .container-1-img{
      img{
        width: 90%;
      }
    }

    .text-container-1{
      width: 95%;
    }
  }
}
//Final de Wrap


//Inicio Cards
.card-list {
  background-image: url("images/background-1.jpg");
  .card-item {
    width: 45%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: #8d8f91;

    img {
      min-height: 200px;
    }
  }

}
//Final Cards

//Inicio de Footer
.footer-container{
  background: black;
  .footer-list{
    p{
      font-size: 18px;
    }
  }
  .footer-info{
    p{
      font-size: 15px;
    }
  }
}
//Final de Footer

}


@media (max-width: 700px) {

  //Inicio de Header
.main-header{
  align-items: center;
  height: 175pxpx;
  background-size: unset;
  justify-content: center;
  .header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-page-title{
      width: 300px;
      height: 50px;
      font-size: 15px;
      margin-bottom: 10px;
  }
    .header-page-description{
      width: 385px;
      height: 40px;
      font-size: 12px;
  }
}
}
//Final de Header



//Inicio de Wrap
main{
  flex-direction: column;
}
//Final de Wrap


.card-list {
  .card-item{
    height: auto;
    img{
      margin-bottom: 5px;
      max-height: 200px;
      min-height: 150px;
    }
    .card-info{
      .card-title{
        font-size: 15px;
      }
      .card-desc{
        font-size: 14px;
      }
      .card-cta{
        font-size: 16px;
      }
    }
  }
}

//Inicio de Footer
.footer-container{
  background: black;
  .footer-list{
    flex-direction: column;
    align-items: center;
    p{
      font-size: 18px;
    }
  }
  .footer-info{
    flex-direction: column;
    align-items: center;
    padding: 0;
    p{
      font-size: 16px;
    }
  }
}
//Final de Footer

}

@media (max-width: 450px){
  .card-list{
    background: blanchedalmond;
    .card-item{
      width: 90%;

      img{
        max-height: 300px;
        min-height: 250px;
      }
    }
  }

}